*	{
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body	{
	width: 100%;
	max-width: 100%;
	background-color: #f2f2f2;
	margin: 0;
}

header	{
	padding: 10px 30px;
	position: sticky;
	top: 0;
	display: flex;
	background-color: #f2f2f2;
	width: 100%;
	box-shadow: 0px 0px 10px 0px hsla(0, 0%, 62%, 0.35);
	z-index: 9999;
}

.navbar {
	width: 100%;
	max-width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
}

.icon-frame {
	width: 85px;
	height: 85px;
}

.flex-spacer {
	flex-grow: 1;
}

nav select {
	display: none;
}

.navbar-menu {
	align-items: center;
	justify-content: center;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

ul li {
	font-size: 20px;
	letter-spacing: 3px;
}

ul li:not(:last-child) {
	margin-right: 60px;
}

ul li a {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-decoration-line: none;
	color: #454545;
	padding: 4px;
	display: flex;
	text-align: center;
	border-bottom: solid 5px #f2f2f2;
}

ul li a.active {
	border-bottom: solid 5px #c7bbdb;
}

ul li a:hover {
	cursor: pointer;
	border-bottom: solid 5px #c2d6fa;
	transition: border-color 0.2s ease-in;
}

.spotlighted	{
	width: 100%;
	height: 520px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #d9afd9, #97d9e1) fixed;
	margin: 0;
	padding: 0;
}

.main-title {
	align-self: center;
	justify-content: center;
}

h1 {
	color: white;
	font-size: 100px;
	letter-spacing: 5px;
	text-align: center;
	margin: 0;
	font-family: Fugaz One, cursive;
}

h2	{
	color: #f2f2f2;
	letter-spacing: 3px;
	font-family: Roboto Slab, serif;
	font-size: 26px;
	font-weight: 300;
}

h4 {
	font-family: Fugaz One, cursive;
	font-size: 40px;
	text-align: center;
	letter-spacing: 5px;
	color: #f2f2f2;
	background-color: #565656;
	margin: 60px 40px 0;
}

.grid	{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-gap: 30px;
	padding: 50px 40px;
	margin: 0;
}

.posts {
	background-color: #ececec;
	padding: 13px;
	text-align: justify;
	text-align-last: center;
	color: #454545;
}

.image-frame	{
	max-width: 100%;
}

.image-frame img {
	max-width: 100%;
	height: 167px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

h3 {
	background-color: #565656;
	color: #c2d6fa;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	font-family: Roboto Slab, serif;
	font-weight: 100;
}

.posts p {
	font-family: PT Sans, sans-serif;
	font-size: 14px;
	height: calc(5*1.3em);
	overflow-y: hidden;
	position: relative;
}

.posts p:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 93%, 0) 0%, hsla(0, 0%, 93%, 0.028) 13.8%, hsla(0, 0%, 93%, 0.059) 25.6%, hsla(0, 0%, 93%, 0.093) 35.7%, hsla(0, 0%, 93%, 0.133) 44.4%, hsla(0, 0%, 93%, 0.177) 51.7%, hsla(0, 0%, 93%, 0.227) 58%, hsla(0, 0%, 93%, 0.282) 63.3%, hsla(0, 0%, 93%, 0.344) 68%, hsla(0, 0%, 93%, 0.413) 72.3%, hsla(0, 0%, 93%, 0.49) 76.3%, hsla(0, 0%, 93%, 0.574) 80.3%, hsla(0, 0%, 93%, 0.667) 84.4%, hsla(0, 0%, 93%, 0.768) 88.9%, hsla(0, 0%, 93%, 0.879) 94.1%, hsl(0, 0%, 93%) 100% );

}

.more-info {
	margin: 30px 0;
}

.more-info a {
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f2f2;
	background-color: #565656;
	padding: 10px;
	margin: 5px 70px;
	font-family: Raleway, sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
}

.more-info a:hover {
	background-color: #c7bbdb;
	color: #565656;
	animation: running;
	transition: 1s;
}

footer	{
	width: 100%;
	height: 150px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: #c7bbdb;
	margin: 0;
	padding: 15px;
	box-shadow: 0 -4px 9px 2px hsla(0, 0%, 62%, 0.17);
}

.subscriber {
	color: white;
}

input {
	border-radius: 0.3em;
	border-width: 0;
	padding: 10px;
	width: 250px;
	box-shadow: inset 0px 0px 5px 0px #524f4f9e;
}

button {
	padding: 10px;
	background-color: #f2f2f2;
	border: transparent;
	border-radius: 0.3em;
	color: #565656;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 14px;
	display: inline-block;
	margin: 0 4px;
	cursor: pointer;
}

h6 {
	margin-bottom: 0;
	margin-top: 15px;
}

/* responsive media */
@media only screen and (max-width: 768px) {
	body {
		width: 100%;
		background-color: #f2f2f2;
		margin: 0;
	}

	header {
		top: 0;
		position: sticky;
		z-index: 9999;
	}

	ul li:not(:last-child) {
		margin-right: 40px;
	}
}

@media only screen and (max-width: 414px) {
	body {
		width: 100%;
		max-width: 100%;
	}

	.navbar {
		width: 100%;
	}

	.spotlighted {
		padding: 15px;
		height: 250px;
		background-image: linear-gradient(to bottom, #d9afd9, #97d9e1) fixed;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 16px;
	}

	nav ul {display: none; }
	nav select {
		display: inline-block;
		font-family: Raleway, sans-serif;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 6px;
		text-decoration-line: none;
		color: #454545;
		padding: 4px;
		display: flex;
		text-align: center;
		border-bottom: solid 5px #f2f2f2; 
	}

	.grid {
		padding: 0px 20px 20px;
		margin-top: 0;
	}

	h4 {
		font-size: 25px;
		margin: 20px 20px;
	}

	button {
		display: inline-block;
		justify-content: center;
		margin: 10px;
	}
}