*	{
	box-sizing: border-box;
	align-items: center;
}

img {
	max-width: 100%;
}

title {
	font-family: courier;
}

body	{
	width: 100%;
	max-width: 100%;
	background-color: #f2f2f2;
	margin: 0;
}

header	{
	padding: 10px 30px;
	position: sticky;
	top: 0;
	display: flex;
	background-color: #f2f2f2;
	width: 100%;
	box-shadow: 0px 0px 10px 0px hsla(0, 0%, 62%, 0.35);
	z-index: 9999;
}

.navbar {
	width: 100%;
	max-width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
}

.icon-frame {
	width: 85px;
	height: 85px;
}

.flex-spacer {
	flex-grow: 1;
}

.navbar-menu {
	align-items: center;
	justify-content: center;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

ul li {
	font-size: 20px;
	letter-spacing: 3px;
}

ul li:not(:last-child) {
	margin-right: 60px;
}

ul li a {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-decoration-line: none;
	color: #454545;
	padding: 4px;
	display: flex;
	text-align: center;
	border-bottom: solid 5px #f2f2f2;
}

ul li a.active {
	border-bottom: solid 5px #c7bbdb;
}

ul li a:hover {
	cursor: pointer;
	border-bottom: solid 5px #c2d6fa;
	transition: border-color 0.2s ease-in;
}

h2 {
	font-family: "Fugaz One", cursive;
	font-size: 40px;
	text-align: center;
	letter-spacing: 5px;
	color: #f2f2f2;
	background-color: #565656;
	margin: 60px 40px 0;
}

.flex-container {
	display: flex;
	padding: 40px 100px;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.plans {
	width: 170px;
	margin: 10px;
}

.plans:hover {
	animation: zoom-out 20px;
	cursor: pointer;
}

h3 {
	background-color: #565656;
    color: #c2d6fa;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 100;
    margin: 0;
}

h4 {
	margin: 0;
    font-size: 40px;
    text-align: center;
    background-color: #c7bbdb;
    padding: 20px;
    color: #fff;
}

h5 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    background-color: #c7bbdb;
    padding: 0px 20px 20px;
    color: #fff;
}

h6 {
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 15px 0;
	padding: 15px;
}

p {
	margin: 0;
    font-size: 14px;
    text-align: center;
    background-color: #c7bbdb;
    padding: 0px 20px 40px;
    color: #fff;
    margin: 0;
}

.stats {
	background-color: #c7bbdb;
	width: 650px;
	padding: 20px;
	display: block;
	margin: 20px 0;
}

.stats-bar {
	height: 10px;
	max-width: 100%;
	background-color: #f2f2f2;
	margin: 0 15px;
}